<div>

  <div class="bg-blue-400 flex items-center justify-between px-8 py-2 text-base">
    <span class="flex max-md:justify-between max-md:items-center max-md:m-auto">
      <span class="flex items-center pr-4"><i class="bi bi-envelope text-xl pr-1"></i> support@cashmingle.com</span>
      <span class="flex items-center"><i class="bi bi-phone text-xl"></i> +2348065373835</span>
    </span>
    <span class="hidden lg:flex">
      <a href="#" target="_blank"><i class="bi bi-github text-white text-xl pr-4"></i></a>
      <a href="#" target="_blank"><i class="bi bi-twitter text-white text-xl pr-4"></i></a>
      <a href="#" target="_blank"><i class="bi bi-linkedin text-white text-xl"></i></a>
    </span>
  </div>
  
  <div class="sticky top-0 z-50">
    <cashMingle-header [changeBackground]="scroll"></cashMingle-header>
  </div>
  
  <div class="relative break-all max-md:image bg-gradient-to-r from-blue-400 from-20% via-blue-500 via-30% to-blue-950 to-80%">
    <div class="container">
      <div class="row flex items-center">
        <div class="col-md-6 text-start text-white lg:text-2xl">
          <h1>Welcome to the Future</h1>
          <span>The No 1 peer-to-peer platform</span>
          <h3>Deposit, Save and Send Money Seamlessly</h3>
          <span>
            Faster than lightening with just the click of a button
          </span>

          <div class="pt-4">
            <button type="button" [routerLink]="['/register']" 
             class="bg-gradient-to-r from-green-400 to-blue-500 px-4 py-2 mr-4 text-black text-lg font-medium rounded-md hover:from-pink-500 hover:to-yellow-500 hover:font-semibold"
            >
              Register
            </button>
            
            <button type="button" [routerLink]="['/login']"
             class="bg-gradient-to-l from-green-400 to-blue-500 px-4 py-2 text-black text-lg font-medium rounded-md hover:from-pink-500 hover:to-yellow-500 hover:font-semibold"
            >
              Login
            </button>
          </div>
        </div>
               
        <div class="max-md:hidden col-md-6 text-end">
          <img src="/assets/images/home.png" alt="image">
        </div>
      </div>
    </div>

    <div class="max-md:hidden cards flex justify-center">
      <mat-card class="card mr-6 rounded-3xl hover:bg-gradient-to-l from-blue-600 to-blue-950" [style]="card.background" *ngFor="let card of cards">
        <mat-card-content>
          <span>
            <img src={{card.image}} alt="image" width="90rem" height="90rem" class="m-auto pb-2" />
            <p class="text-2xl font-semibold text-yellow-100">{{card.service}}</p>
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>  

  <cashMingle-about></cashMingle-about>
  <cashMingle-service></cashMingle-service>
  <cashMingle-team></cashMingle-team>
  <cashMingle-faq></cashMingle-faq>
  <cashMingle-contact></cashMingle-contact>
  <cashMingle-footer></cashMingle-footer>
  <cashMingle-scroll-to-top></cashMingle-scroll-to-top>
</div>