.register{
  max-width: 600px;
  text-align: center;
  margin: auto;
}
  
.header{
  text-align: center;
}
  
.length{
  width: 90%;
}
  
input[type=checkbox]{
  width: 15px;
  height: 15px;
  margin-right: 0.5rem;
}
  
.btn:disabled,
.btn.disabled{
  color:#fff;
  border-color: #a0a0a0;
  background-color: #a0a0a0;
}