.register{
  max-width: 600px;
  text-align: center;
  margin: auto;
}
  
.header{
  text-align: center;
}
  
.length{
  width: 90%;
}

input[type=checkbox]{
  width: 15px;
  height: 15px;
  margin-right: 0.5rem;
}