<div [ngClass]="authenticated ? 'bg-blue-200 min-h-[80vh]' : 'bg-slate-200 min-h-screen'" class="relative">
  <div *ngIf="!authenticated" class="bg-slate-300">
    <span class="text-blue-700 text-xl font-semibold px-4 py-6 shadow-lg">CashMingle</span>
  </div>

  <button *ngIf="!authenticated" (click)="CloseChangePassword()" class="absolute top-8 right-4 flex items-center border rounded text-black hover:bg-slate-100">
    <mat-icon>close</mat-icon>
  </button>

  <button *ngIf="authenticated" (click)="CloseChangePassword1()" class="absolute top-0 right-4 flex justify-center text-lg font-normal hover:bg-blue-100">
    <i class="bi bi-arrow-left text-2xl pr-2"></i> Back
  </button>

  <div *ngIf="!getTokenResponse" class="reset p-4">
    <img src="/assets/images/image/header.png" alt="img" (click)="CloseChangePassword()" width="35rem" height="35rem" class="m-auto pb-4" />

    <mat-card>
      <mat-card-content class="bg-gray-100">
        <div>
          <ngb-alert *ngIf="getTokenErrorMessage && getTokenErrorMessage?.status > 0 && getTokenErrorMessage?.status <= 499" [type]="'danger'" (closed)="getTokenErrorMessage = ''">{{getTokenErrorMessage?.error?.error}}</ngb-alert>
          <ngb-alert *ngIf="getTokenErrorMessage && getTokenErrorMessage?.status >= 500 || getTokenErrorMessage?.status == 0" [type]="'danger'" (closed)="getTokenErrorMessage = ''">Could not get token...please try again</ngb-alert>
        </div>

        <div class="header text-blue-800">
          <h2>{{title}}</h2>
        </div>
  
        <form [formGroup]="resetForm" (submit)="getToken()" class="py-2">
          <div class="space">
            <mat-form-field class="length">
              <mat-label>Email Address</mat-label>
              <input formControlName="email" [defaultValue]="'success'" matInput required />
              <mat-error>
                Email Address required
              </mat-error>
            </mat-form-field>
          </div>
          <button *ngIf="!loading" mat-flat-button color="primary" type="submit" [disabled]="resetForm.invalid" class="btn w-[90%] text-lg">Get Reset Token</button>
          <button *ngIf="loading" mat-flat-button color="accent" type="submit" class="btn w-[90%] text-lg">
            <span class="flex items-center m-auto">Please wait...<mat-spinner [diameter]="25"></mat-spinner></span>
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="getTokenResponse" class="reset p-4">
    <img src="/assets/images/image/header.png" alt="image" (click)="CloseChangePassword()" width="35rem" height="35rem" class="m-auto pb-4" />

    <mat-card>
      <mat-card-content class="bg-gray-100">
        <div>
          <ngb-alert *ngIf="getTokenResponse" [type]="'info'" (closed)="getTokenResponse = ''">{{getTokenResponse?.result}}</ngb-alert>
          <ngb-alert *ngIf="resetPasswordResponse" [type]="'success'" (closed)="resetPasswordResponse = ''">{{resetPasswordResponse?.result}}</ngb-alert>
          <ngb-alert *ngIf="resetPasswordErrorMessage && resetPasswordErrorMessage?.status > 0 && resetPasswordErrorMessage?.status <= 499" [type]="'danger'" (closed)="resetPasswordErrorMessage = ''">{{resetPasswordErrorMessage?.error?.error}}</ngb-alert>
          <ngb-alert *ngIf="resetPasswordErrorMessage && resetPasswordErrorMessage?.status >= 500 || resetPasswordErrorMessage?.status == 0" [type]="'danger'" (closed)="resetPasswordErrorMessage = ''">reset password Failed...please try again</ngb-alert>
        </div>

        <div class="header text-blue-800">
          <h2>Reset Password</h2>
        </div>
  
        <form [formGroup]="changePasswordForm" (submit)="resetPassword()" class="py-2">
          <div class="space">
            <mat-form-field class="length">
              <mat-label>Email Address</mat-label>
              <input formControlName="email" matInput />
            </mat-form-field>

            <mat-form-field class="length">
              <mat-label>Token</mat-label>
              <input formControlName="token" matInput required placeholder="Enter reset token sent to your mail"/>
              <mat-error>
                Token required
              </mat-error>
            </mat-form-field>
            
            <mat-form-field class="length pb-4">
              <mat-label>Password</mat-label>
              <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" required placeholder="123@Aa" />
              <button mat-icon-button matSuffix (click)="hide = !hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="changePasswordForm.value.password == ''">
                Password required
              </mat-error>
              <mat-error *ngIf="changePasswordFormControl?.['password']?.errors?.['invalidPassword']">
                Password should have minimum of 6 characters, at least 1 uppercase and lowercase letter, number and special character
              </mat-error>
            </mat-form-field>
  
            <mat-form-field class="length pb-4">
              <mat-label>Confirm Password</mat-label>
              <input formControlName="confirmPassword" matInput [type]="hide1 ? 'password' : 'text'" required placeholder="123@Aa" />
              <button mat-icon-button matSuffix (click)="hide1 = !hide1">
                <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="changePasswordForm.value.password !== '' && changePasswordForm.value.confirmPassword == '' ">
                Confirm Password required
              </mat-error>
              <mat-error *ngIf="changePasswordFormControl?.['confirmPassword']?.errors?.['passwordMatchError'] &&
                changePasswordForm.value.password !== '' && changePasswordForm.value.confirmPassword !== ''"
              >
                Password does not match
              </mat-error>
            </mat-form-field>
          </div>

          <button *ngIf="!resetPasswordProgress" mat-flat-button color="primary" type="submit" [disabled]="changePasswordForm.invalid" class="btn w-[90%] text-lg">Reset Password</button>
          <button *ngIf="resetPasswordProgress" mat-flat-button color="accent" type="submit" class="btn w-[90%] text-lg">
            <span class="flex items-center m-auto">Please wait...<mat-spinner [diameter]="25"></mat-spinner></span>
          </button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>