<div class="bg-[#cfd8dc]">
  <div class="container py-16">

    <div class="text-center pb-4">
      <p [ngClass]="scrollPagePosition == 'about' ? 'animate__animated animate__pulse animate__infinite' : ''" class="text-2xl font-semibold header-underline">
        About Us
      </p>
      <p class="font-medium text-lg text-[#009688]">
        A leading company that provides online payment processing and has revolutionized the way individuals and businesses handle transactions
      </p>
    </div>      

    <div class="row text-lg" [ngClass]="scrollPagePosition == 'about' ? 'animate__animated animate__pulse' : ''">

      <div class="col-lg-6">
        <h3>Thinking about managing your finance to achieve your desired goals?</h3>
        <p>Welcome to CashMingle. We understand that managing personal finances can be challenging, and we're here to simplify the process for you.</p>
        <p>
          At CashMingle, we prioritize our users financial wellness and strive to provide the best possible experience.
          Our platform offers a wide range of financial services, including budgeting, investment management, and debt repayment, all in one place.
        </p>
        <p>
          What sets us apart is our personalized approach. Our AI-powered tools analyze your financial data and provide tailored recommendations
          to help you achieve your financial goals. We also offer 24/7 customer support to answer any questions you may have.
        </p>
        <p>
          In addition, we take security seriously and use the latest encryption technologies to protect your sensitive financial information.
          Our platform is also user-friendly, with a simple and intuitive interface that makes managing your finances a breeze.
        </p>
        <p>Join the CashMingle community today and experience the ease and convenience of managing your finances with our innovative platform.</p>
      </div>

      <div class="col-lg-6">
        <p class="fst-italic">We offer a range of financial services tailored for your need. Some of our key offerings include:</p>
        <ul>
          <li class="flex"><i class="bi bi-check-circle-fill text-blue-800 text-xl pr-2"></i> Deposit and transfer with lightening speed</li>
          <li class="flex"><i class="bi bi-check-circle-fill text-blue-800 text-xl pr-2"></i> Lowest rate you can't find elsewhere</li>
          <li class="flex">
            <i class="bi bi-check-circle-fill text-blue-800 text-xl pr-2"></i> 
            24/7 customer support: Our dedicated customer support team is available around the clock to answer any questions you may have.
          </li>            
        </ul>
        <p>
          Our unique combination of personalized recommendations, all-in-one platform, top-notch security, and user-friendly interface, as well as our
          commitment to customer support and financial education, make us a standout choice for anyone looking to manage their finances more effectively.
        </p>
        <p>Regulated by CBNB under the Financial Technology Act of 2000, ACTN and TINT under the license of Mingle INC Limited.</p>
      </div>
    </div>       
  </div>
</div>