<div class="notify relative max-w-[800px] text-xl font-semibold m-auto">
  <span class="p-2"><mat-icon (click)="notifications()" class="bg-red-200 absolute right-0 cursor-pointer">close</mat-icon></span>
  <div class="bg-red-100 flex max-sm:flex-col items-center justify-center text-center rounded-lg px-3 pt-4 mt-2">
    <img src="/assets/images/notification/call.png" alt="img"/>
    <div>
      <p class="text-green-900 text-2xl">Got a complaint, feedback or enquiry?</p>
      <span class="text-2xl font-normal">We would love to hear from you</span>
      <p>Send an email to contact@cashmingle.com</p>
      <p>...or... go to the contact section on the home page and fill out the form.</p>
      <span class="line text-green-900 text-xl font-medium py-2">OR</span>
      <p>Call our customer care @ +2348065373835</p>
    </div>
  </div>
</div>