a{
    text-decoration: none;
  }
  
  .circle-icon {
    background: rgb(176, 195, 219);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 16px;
    color: #ffffffb3;
    margin-right: 10px;
    transition: 0.3s;
  }
  
  .circle-icon:hover {
    background: rgb(191, 204, 219);
  }