a {
  text-decoration: none;
}

.circle-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ffffff33;
  font-size: 16px;
  color: #ffffffb3;
  margin-right: 10px;
  transition: 0.3s;
}

.circle-icon:hover {
  color: #fff;
  border-color: #fff;
}

.link {
  span {
    cursor: pointer;
    &:hover {
      color: #60a5fa;
    }
  }
}