<div class="bg-gradient-to-r from-blue-950 from-20% via-blue-500 via-30% to-blue-950 to-80%">
  <div class="container py-16 text-white text-lg">
    <div class="row">
      <div class="col-lg-5 col-md-12">
        <span class="flex items-center pb-2 break-all">
          <img src="/assets/images/image/header.png" alt="image" width="40rem" height=40rem>
          <span class="text-blue-400 text-2xl font-semibold pl-1" [routerLink]="['/home']">CashMingle<span class="text-red-700 text-3xl">.</span></span>
        </span>

        <p>
          A leading fin-tech company that provides online payment processing and has revolutionized
          the way individuals/ businesses handle transactions.
        </p>
        <p>The best financial services you can get, unrivalled elsewhere.</p>
        
        <div class="flex py-4">
          <a href="https://github.com/Myxic" target="_blank"><i class="bi bi-github circle-icon text-white text-xl"></i></a>
          <a href="https://twitter.com/CharlesCeeJay05" target="_blank"><i class="bi bi-twitter circle-icon text-white text-xl"></i></a>
          <a href="https://www.linkedin.com/in/successisaiah" target="_blank"><i class="bi bi-linkedin circle-icon text-white text-xl"></i></a>
        </div>
      </div>
           
      <div class="col-lg-2 col-6">
        <h3>Useful Links</h3>
        <p class="text-[#eceff1] opacity-80">
          Register<br>
          About us<br>
          Services<br>
          Terms of service<br>
          Privacy policy<br>
      </div>
    
      <div class="col-lg-2 col-6">
        <h3>Our Services</h3>
        <p class="text-[#eceff1] opacity-80">
          Deposit<br>
          Withdrawal<br>
          Transfer<br>
          Savings<br>
          Financial Advice<br>
        </p>
      </div>

      <div class="col-lg-3 col-md-12">
        <h3>Contact Us</h3>
        <p class="text-[#eceff1] opacity-80 break-all">
          <span>Phone:</span> +234-806-537-3835<br>
          <span>Email:</span> support@cashmingle.com<br>
          <span>Twitter:</span> twitter.com/cashmingle<br>
        </p>
      </div>
    
    </div>
  </div>
    
  <div class="container pb-4 text-center text-white text-base">
    Copyright &copy; <span class="text-blue-400 hover:line-through">CashMingle</span>. All Rights Reserved
  </div>
</div>