.line {
  display: flex;
  flex-direction: row;
}

.line:before, .line:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}

.line:before {
  margin-right: 10px
}

.line:after {
  margin-left: 10px
}

img {
  width: 50px;
  height: 50px;
}

@media(max-width: 375px) {
  img {
    width: 35px;
    height: 35px;
  }
}

@media(max-width: 210px) {
  img {
    width: 20px;
    height: 20px;
  }
}