<div class="bg-blue-300 min-h-[calc(100vh-65px)]">
  <div class="sticky top-[65px] z-[5]">
    <div class="bg-blue-200">
      <span class="text-black text-2xl font-medium px-4 py-8 shadow-lg">Dashboard</span>
    </div>  
    <div class="flex justify-between text-black text-base">
      <span></span>
      <span class="font-medium px-2 py-1 shadow-lg">Account Type: {{accountType}}</span>
    </div>
  </div>

  <div class="px-3 py-8">
    <div class="row">   
      <div class="col-xxl-6 col-md-6">
        <div class="card mb-4">
          <div class="card-body bg-[#e0f8e9] break-all">
            <span class="card-title text-xl text-[#012970] font-medium pl-2">Welcome Back,</span>

            <div class="flex items-center py-3">
              <div class="bg-[#f6f6fe] text-[#4154f1] text-3xl w-16 h-16 rounded-circle flex items-center justify-center hover:bg-gray-200">
                <i class="bi bi-person-fill"></i>
              </div>
              <span class="text-blue-900 text-2xl font-medium pl-3">{{name | uppercase}}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xxl-6 col-md-6">
        <div class="card mb-4">
          <div class="card-body bg-[#e0f8e9]">
            <span class="card-title text-xl text-[#012970] font-medium">Task Reminder</span>

            <div class="flex items-center py-3">
              <div class="bg-[#f6f6fe] text-[#4154f1] text-3xl w-16 h-16 rounded-circle flex items-center justify-center hover:bg-gray-200">
                <i class="bi bi-alarm-fill"></i>
              </div>
              <span class="text-2xl text-[#012970] font-medium pl-3">0</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <h3>This symbol - 🥇 implies Restricted Access for Super Admins only</h3>
      <h2 class="text-green-900">Company News</h2>

      <mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
        <mdb-carousel-item *ngFor="let alert of notifications">
          <img [src]="alert" class="d-block w-100 rounded" alt="image" />
        </mdb-carousel-item>
      </mdb-carousel>

      <h3>...visit the dedicated staff dashboard to learn more</h3>
    </div>
  </div>
</div>