.user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice {
  max-width: 500px;
  max-height: 400px;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
  
.example-radio-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 15px 0;
}
  
.example-radio-button {
  margin: 5px;
}

.displayChoice {
  display: none;
}