<div class="bg-blue-300 min-h-[calc(100vh-65px)]">
  <div class="bg-blue-200 sticky top-[65px] z-[5]">
    <span class="text-black text-2xl font-medium px-4 py-6 shadow-lg">User Roles</span>
  </div>

  <div class="px-3 py-12">
    <div class="card mb-4">
      <div class="card-body bg-slate-200">
        <span class="card-title text-xl text-[#012970] flex items-center font-medium pb-6">
          <i class="bi bi-record-btn-fill pr-2"></i>Manage User Roles And Claims 🥇
        </span>

        <div class="card mb-4">
          <div class="card-body bg-purple-100">
            <span class="card-title text-xl text-[#012970] flex items-center font-medium pb-6">
              <i class="bi bi-record-btn pr-2"></i>Role(s)
            </span>

            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header (click)="arrow = !arrow">
                  <mat-panel-title class="text-teal-500 text-lg font-medium">Manage Role(s)</mat-panel-title>
                  <mat-icon>account_circle</mat-icon>
                  <mat-icon *ngIf="arrow">arrow_drop_up</mat-icon>
                  <mat-icon *ngIf="!arrow">arrow_drop_down</mat-icon>
                </mat-expansion-panel-header>

                <div class="max-w-[500px]">
                  <ngb-alert *ngIf="rolesResponse" [type]="'success'" (closed)="rolesResponse = ''">{{rolesResponse?.result}}</ngb-alert>
                  <ngb-alert *ngIf="rolesErrorMessage && rolesErrorMessage?.status > 0 && rolesErrorMessage?.status <= 499" [type]="'danger'" (closed)="rolesErrorMessage = ''">
                    {{rolesErrorMessage?.error?.error}} {{rolesErrorMessage?.error?.message}}
                  </ngb-alert>
                  <ngb-alert *ngIf="rolesErrorMessage && rolesErrorMessage?.status >= 500 || rolesErrorMessage?.status == 0" [type]="'danger'" (closed)="rolesErrorMessage = ''">
                    Failed...please try again
                  </ngb-alert>
                </div>

                <div class="bg-violet-100 p-4 mb-4 rounded">
                  <div class="flex items-center justify-between text-lg font-medium mb-2">
                    <span *ngIf="!tableData">Get All Roles</span>
                    <span *ngIf="tableData">All Roles</span>
                    <button *ngIf="!tableData" type="button" [disabled]="!access" (click)="getAllRoles()"
                      class="bg-gradient-to-l from-purple-300 to-purple-500 px-4 py-1 ml-2 text-white rounded-md hover:from-purple-500 hover:to-purple-300 hover:font-semibold"
                    >
                      <span *ngIf="!loading">Proceed</span>
                      <span *ngIf="loading">loading...</span>
                    </button>
                    <button *ngIf="tableData" (click)="back()" class="flex justify-center text-lg font-normal hover:bg-sky-200">
                      <i class="bi bi-arrow-left text-2xl pr-2"></i> Back
                    </button>
                  </div>

                  <div class="overflow-auto">
                    <table *ngIf="tableData">
                      <thead>
                        <tr>
                          <th *ngFor="let header of tableHeader; let e = even" [ngClass]="e ?'even' : 'odd'">{{header | uppercase}}</th>
                        </tr>
                      </thead>
          
                      <tbody>
                        <tr *ngFor="let data of tableData; let e = even; let o = odd; let i = index"  [ngClass]="e ?'even1' : 'odd1'">
                          <td>{{i + 1}}</td> <td>{{data.name}}</td> <td>{{data.id}}</td> <td>{{data.roleClaims}}</td>
                          <td>{{data.createdAt}}</td> <td>{{data.updatedAt}}</td> <td>{{data.active}}</td>
                        </tr>
                      </tbody>         
                    </table>
                  </div>
                </div>

                <div class="bg-violet-100 text-lg font-medium p-4 rounded">
                  <form [formGroup]="rolesForm" (submit)="createRole()" class="max-w-[500px]">
                    <p>Create User Role</p>
                    <mat-form-field class="w-full">
                      <mat-label>Role Name</mat-label>
                      <input formControlName="roleName" matInput [readonly]="!access" required />
                      <mat-hint>Enter the role name to create</mat-hint>
                      <mat-error>
                        Role Name required
                      </mat-error>
                    </mat-form-field>
  
                    <div class="mt-3">
                      <button *ngIf="!loading1" mat-flat-button color="primary" type="submit" [disabled]="rolesForm.invalid" class="btn w-[100%] text-lg">Create Role</button>
                      <button *ngIf="loading1" mat-flat-button color="accent" class="btn w-[100%] text-lg">
                        Please wait...<mat-spinner [diameter]="25"></mat-spinner>
                      </button>
                    </div>
                  </form>
                </div>
     
           </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-body bg-purple-200">
            <span class="card-title text-xl text-[#012970] flex items-center font-medium pb-6">
              <i class="bi bi-record-circle pr-2"></i>User Role(s)
            </span>

            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header (click)="arrow1 = !arrow1">
                  <mat-panel-title class="text-teal-500 text-lg font-medium">Manage User Role(s)</mat-panel-title>
                  <mat-icon>account_circle</mat-icon>
                  <mat-icon *ngIf="arrow1">arrow_drop_up</mat-icon>
                  <mat-icon *ngIf="!arrow1">arrow_drop_down</mat-icon>
                </mat-expansion-panel-header>

                <div class="max-w-[500px]">
                  <ngb-alert *ngIf="userRoleResponse" [type]="'success'" (closed)="userRoleResponse = ''">{{userRoleResponse?.result}}</ngb-alert>
                  <ngb-alert *ngIf="userRoleErrorMessage && userRoleErrorMessage?.status > 0 && userRoleErrorMessage?.status <= 499" [type]="'danger'" (closed)="userRoleErrorMessage = ''">
                    {{userRoleErrorMessage?.error?.error}} {{userRoleErrorMessage?.error?.message}}
                  </ngb-alert>
                  <ngb-alert *ngIf="userRoleErrorMessage && userRoleErrorMessage?.status >= 500 || userRoleErrorMessage?.status == 0" [type]="'danger'" (closed)="userRoleErrorMessage = ''">
                    Failed...please try again
                  </ngb-alert>
                </div>

                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="selected">
                  <mat-radio-button class="example-radio-button" *ngFor="let role of roles" [value]="role" [disabled]="!access">
                    {{role}}
                  </mat-radio-button>
                </mat-radio-group>

                <div *ngIf="tableData1" class="text-green-800 text-lg font-medium mb-3">
                  <span *ngIf="tableData1.length == 0" class="text-red-400">No User Role(s) for {{manageRolesForm.value.userName | titlecase}}</span>
                  <span *ngIf="tableData1.length > 0 && manageRolesForm.value.userName != ''">
                    {{manageRolesForm.value.userName | titlecase}} Role(s) :
                    <span *ngFor="let role of tableData1" class="text-xl text-black mr-3">__  {{role}}</span>
                  </span>
                </div>

                <form [formGroup]="manageRolesForm" *ngIf="selected" class="max-w-[500px] py-2">
                  <mat-form-field class="w-full">
                    <mat-label>UserName</mat-label>
                    <input formControlName="userName" matInput required />
                    <mat-hint>Enter userName</mat-hint>
                    <mat-error>
                      UserName required
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field *ngIf="selected != 'Get user role'" class="w-full">
                    <mat-label>Role Name</mat-label>
                    <input formControlName="roleName" matInput [required]="selected == 'Add user to role' || selected == 'Remove user from role'" />
                    <mat-hint>Enter role name</mat-hint>
                    <mat-error>
                      Role Name required
                    </mat-error>
                  </mat-form-field>

                  <div class="mt-3">
                    <button *ngIf="!loading2" mat-flat-button color="primary" type="button" (click)="manageRoles()" class="btn w-[100%] text-lg"
                      [disabled]="manageRolesForm.invalid && selected != 'Get user role' || selected == 'Get user role' && manageRolesForm.value.userName == ''"
                    >
                      Proceed
                    </button>
                    <button *ngIf="loading2" mat-flat-button color="accent" class="btn w-[100%] text-lg">
                      <span class="flex items-center m-auto">Please wait...<mat-spinner [diameter]="25"></mat-spinner></span>
                    </button>
                  </div>
                </form>
  
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-body bg-purple-300">
            <span class="card-title text-xl text-[#012970] flex items-center font-medium pb-6">
              <i class="bi bi-record2-fill pr-2"></i>User Claim(s)
            </span>

            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header (click)="arrow2 = !arrow2">
                  <mat-panel-title class="text-teal-500 text-lg font-medium">Manage User Claim(s)</mat-panel-title>
                  <mat-icon>account_circle</mat-icon>
                  <mat-icon *ngIf="arrow2">arrow_drop_up</mat-icon>
                  <mat-icon *ngIf="!arrow2">arrow_drop_down</mat-icon>
                </mat-expansion-panel-header>

                <div class="max-w-[500px]">
                  <ngb-alert *ngIf="userClaimsResponse" [type]="'success'" (closed)="userClaimsResponse = ''">{{userClaimsResponse?.result}}</ngb-alert>
                  <ngb-alert *ngIf="userClaimsErrorMessage && userClaimsErrorMessage?.status > 0 && userClaimsErrorMessage?.status <= 499" [type]="'danger'" (closed)="userClaimsErrorMessage = ''">
                    {{userClaimsErrorMessage?.error?.error}} {{userClaimsErrorMessage?.error?.message}}
                  </ngb-alert>
                  <ngb-alert *ngIf="userClaimsErrorMessage && userClaimsErrorMessage?.status >= 500 || userClaimsErrorMessage?.status == 0" [type]="'danger'" (closed)="userClaimsErrorMessage = ''">
                    Failed...please try again
                  </ngb-alert>
                </div>

                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="selectedClaim">
                  <mat-radio-button class="example-radio-button" *ngFor="let claim of claims" [value]="claim" [disabled]="!access">
                    {{claim}}
                  </mat-radio-button>
                </mat-radio-group>

                <div *ngIf="tableData2" class="text-green-800 text-lg font-medium mb-3">
                  <span *ngIf="tableData2.length == 0" class="text-red-400">No User Claim(s) for {{manageClaimsForm.value.userName | titlecase}}</span>
                  <span *ngIf="tableData2.length > 0 && manageClaimsForm.value.userName != ''">
                    {{manageClaimsForm.value.userName | titlecase}} Claim(s) :
                    <span *ngFor="let claim of tableData2" class="text-xl text-black mr-3">__  Claim Name: {{claim.type}} - Claim Value - {{claim.value}}</span>
                  </span>
                </div>

                <form [formGroup]="manageClaimsForm" *ngIf="selectedClaim" class="max-w-[500px] py-2">
                  <mat-form-field class="w-full">
                    <mat-label>UserName</mat-label>
                    <input formControlName="userName" matInput required />
                    <mat-hint>Enter userName</mat-hint>
                    <mat-error>
                      UserName required
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field *ngIf="selectedClaim != 'Get user claim'" class="w-full">
                    <mat-label>Claim Name</mat-label>
                    <input formControlName="claimName" matInput [required]="selectedClaim == 'Add claim to user' || selectedClaim == 'Remove user claim'" />
                    <mat-hint>Enter claim name</mat-hint>
                    <mat-error>
                      Claim Name required
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field *ngIf="selectedClaim != 'Get user claim'" class="w-full">
                    <mat-label>Claim Value</mat-label>
                    <input formControlName="claimValue" matInput [required]="selectedClaim == 'Add claim to user' || selectedClaim == 'Remove user claim'" />
                    <mat-hint>Enter claim value</mat-hint>
                    <mat-error>
                      Claim Value required
                    </mat-error>
                  </mat-form-field> 

                  <div class="mt-3">
                    <button *ngIf="!loading3" mat-flat-button color="primary" type="button" (click)="manageClaims()" class="btn w-[100%] text-lg"
                      [disabled]="manageClaimsForm.invalid && selectedClaim != 'Get user claim' || selectedClaim == 'Get user claim' && manageClaimsForm.value.userName == ''" 
                    >
                      Proceed
                    </button>
                    <button *ngIf="loading3" mat-flat-button color="accent" class="btn w-[100%] text-lg">
                      <span class="flex items-center m-auto">Please wait...<mat-spinner [diameter]="25"></mat-spinner></span>
                    </button>
                  </div>
                </form>
  
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>