.list:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 0;
  padding-top: 3px;
  border-bottom: 3px solid #3b82f6;
  transition: all 0.3s ease-in-out 0s;
}

.list:hover:after,
.active:after {
  width: 100%;
}

.button {
  background: linear-gradient(to right, #4ade80 30%, #0ea5e9 70%);
}

.dropdown:hover>.dropdown-menu {
  display: block;
  background: #b0bec5;
}

.dropdown>.dropdown-toggle:active {
  pointer-events: none; // Without this, clicking will make it sticky
}

@media (max-width: 220px){
  .name{
    display: none;
  }
}