<div>
  <div class="flex bg-red-500">
    <div class="bg-blue-400 pr-4">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum, tempore eaque! Dignissimos nisi illum aperiam ratione quod, magni et architecto?
    </div>
    <div class="bg-yellow-500">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat explicabo alias magni architecto quae error, excepturi, blanditiis itaque aliquid fuga facilis earum. Perferendis soluta distinctio dolor impedit earum explicabo pariatur?
    </div>
  </div>
</div>