::-webkit-scrollbar-track{
  background: transparent;
}

.sidebar::-webkit-scrollbar {
  height: 8px;
}

.sidebar{
  position: fixed;
  width: 300px;
  height: 100%;
  left: -300px;
  display: flex;
  flex-direction: column;
  transition: all 1s ease;
  box-shadow: 0px 0px 20px #0129701a;
}

.side{
  overflow-y: auto;
  visibility: hidden;
  margin-bottom: 10rem;
}

.side:hover,
.sidebar-content{
  visibility: visible;
}

.name{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-bottom: 50px;
}

.toggle{
  left: 0;
}

.mat-icon{
  font-size: 26px;
  width: 26px;
  height: 26px;
}

.active,
.sidebar-content:hover{
  background: #4338ca;
  color: wheat;
  border-radius: 5px;
}

@media (max-width: 768px){
  .sidebar {
    left: 0;
  }

  .toggle, .hide{
    left: -300px;
  }
}

@media (max-width: 375px){
  .sidebar {
    width: 250px;
  }
}