<div class='fixed bg-slate-200 top-0 w-full h-full z-[100]'>
  <div class="bg-slate-300 p-1">
    <img src="/assets/images/image/header.png" alt="img" width="25rem" height="25rem" class="m-auto"/>
  </div>

  <button (click)="CloseSidebar()" class="absolute top-12 right-6 flex text-black mt-2">
    <mat-icon>close</mat-icon>
  </button>

  <div class="sidebar m-8 mt-12 text-black text-lg font-medium">
    <p (click)="navigateSection('')">Home</p>
    <p (click)="navigateSection('about')">About</p>
    <p (click)="navigateSection('services')">Services</p>
    <p (click)="navigateSection('team')">Our Team</p>
    <p (click)="navigateSection('faq')">Faqs</p>
    <p (click)="navigateSection('contact')">Contact</p>
    <p routerLink="/finance">Finance</p>
  </div>
  <span class="name text-blue-400 text-xl font-medium hover:line-through">CashMingle</span>
</div>