<div>
  <div class="bg-blue-100 flex justify-between px-4 py-3">
    <div class="flex items-center">
      <div class="flex items-center">
        <img src="/assets/images/header.png" alt="image" width="25rem" height="25rem">
        <span class="max-md:hidden text-blue-400 text-2xl font-semibold pr-32 pl-2">CashMingle</span>
      </div>
      <div class="pl-2" (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </div>
    </div>
  
    <div class="flex">
      <div class="circle-icon">
        <img src="/assets/images/person.png" alt="image" width="25rem" height="25rem">
      </div>
  
      <button type="button" (click)="logOut()"
       class="bg-gradient-to-l from-blue-300 to-blue-500 px-4 py-1 ml-2 text-lg font-medium rounded-md hover:from-blue-500 hover:to-blue-300 hover:font-semibold hover:text-black"
      >
        LogOut
      </button>
    </div>
  </div>
  
  <div>
    <cashMingle-user-sidebar [sidebarToggle]="open" [sidebarContent]="sidebar"></cashMingle-user-sidebar>
  </div>
</div>