.mat-icon{
  font-size: 35px;
  width: 35px;
  height: 35px;
}

.circle-icon{
  background: #9fadaf;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 16px;
  margin-right: 10px;
  transition: 0.3s;
}

.circle-icon:hover{
  background: #b3c5c7;
}

.dropdown:hover>.dropdown-menu{
  display: block;
  background: #b0bec5;
}

.dropdown>.dropdown-toggle:active{
  pointer-events: none; // Without this, clicking will make it sticky
}