@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "table.scss";

html, body {
  height: 100%;
  font-size: clamp(10px, 16px, 20px);

  @media only screen and (max-width: 1000px) {
    font-size: clamp(8px, 14px, 18px);
  }

  @media only screen and (max-width: 768px) {
    font-size: clamp(7.5px, 13px, 16px);
  }

  @media only screen and (max-width: 500px) {
    font-size: clamp(6.5px, 11.5px, 14px);
  }
}

body { 
  margin: 0;
  background: #afaffd;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

img {
  height: auto;
  max-width: 100%;
}

@layer components {
  .image{
    //background-color: linear-gradient(to right, #42a5f5 20%, #2196f3 30%, #0d47a1 50%);
    background-color: #5a52ce;
    background-image: url(/assets/images/home/b6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: screen;
    padding: 100px 0;
    animation: change 60s infinite ease-in-out;
  }

  @keyframes change {
    0% {
      background-image: url(/assets/images/home/b5.jpg);
    }
    20% {
      background-image: url(/assets/images/home/b4.jpg);
    }
    40% {
      background-image: url(/assets/images/home/b3.jpg);
    }
    60% {
      background-image: url(/assets/images/home/b2.jpg);
    }
    80% {
      background-image: url(/assets/images/home/b1.jpg);
    }
  }    
}

.spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 3.5rem;
  width: 3.5rem;
  border: 5px solid;
  border-color: #172554 transparent #3b82f6 transparent;
  border-radius: 50%;
  animation: spin 1.3s linear infinite;
}

.loader {
  content: "";
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  margin: 2px 4px;
  float: right;
  border-radius: 50%;
  border: 3px solid #fdd;
  border-color: #fdd transparent;
  animation: spin 1.2s linear infinite;
}

@media (max-width: 500px) {
  .spinner{
    height: 2.5rem;
    width: 2.5rem;
  }
}

.position-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.header-underline:after {
  content: ""; 
  display: block;
  margin: 0 auto;
  width: 60px;
  padding-top: 5px;
  border-bottom: 3px solid #3b82f6;
  transition: .5s;
}

.header-underline:hover:after {
  width: 75px;
  border-color: #172554;
}

.btn:disabled,
.btn.disabled {
  color:#fff;
  background: #a0a0a0;
  border-color: #a0a0a0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5e5ef3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #004d80;
}

// angular bootstrap custom styling
ngb-alert {
  text-align: center;
}

// angular material component custom styling
mat-form-field {
  padding-bottom: 1rem;
}

mat-spinner {
  float: right;
  margin-left: 8px;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';