th {
  background: #dcd2be;
}

table tr:hover td, td {
  background: #9f998d;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}
    
.example-radio-button {
  margin: 5px;
}